@media screen and (max-width: 576px) {
  header {
  }
  nav {
    flex-direction: column;
    padding: 0 auto;
    padding: 0px 40px;
    height: 360px;
  }
  .nav-details-container {
    flex-direction: column;
    gap: 34px;
    margin-top: 24px;
  }
  .nav-left {
    margin-top: 50px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-image {
    margin-top: 20px;
    height: 500px;
    width: 350px;
  }
  .text-elements {
    height: 500px;
    width: 350px;
  }
  .gamer-container {
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
    width: 400px;
    padding: 0px;
  }
  .gamer-image {
    /* height: 400px; */
    width: 400px;
  }
  .gamer-text-container {
    text-align: center;
  }
  .funny-gamer-container {
    flex-direction: column;
  }
  .card-container {
    flex-direction: column;
  }
  .online-container {
    flex-direction: column-reverse;
    margin-top: 20px;
    height: 100%;
    width: 400px;
    padding: 10px;
  }
  .img-1 {
    margin-top: 20px;
    height: 500px;
    width: 350px;
  }
  .img-2 {
    width: 180px;
    height: 200px;
    margin-top: -230px;
    margin-left: 200px;
  }
  .manubar-container{
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .terms-container{
    flex-wrap: wrap;
    padding-left: 20px;

  }
  .copyright{
    padding-left: 25px;
  }
}
