@media screen and (max-width:576px){
    header{
        /* height: auto; */
    }
    nav{
        flex-direction: column;
        padding: 0 auto;
        /* padding-top: 50px; */
        padding: 0px 40px;
        height: 360px;
        /* margin-bottom: 54px; */
    }
    .nav-details-container{
        flex-direction: column;
        /* padding: 24px; */
        gap: 34px;
        margin-top: 24px;
    }
    .nav-left{
margin-top: 50px; 
    }

}