/* Universal design*/
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0px 240px;
}
.nav-left {
  display: flex;
}
.nav-icon {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.G {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contents {
  margin-right: 34px;
}
.nav-details-container a {
  text-decoration: none;
  color: #3c354f;
  font-size: 12px;
  /* font-weight: 500; */
}
.extra-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 262px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding-left: 24px;
  padding-right: 16px;
  /* gap:20px */
}
.extra-link-details {
}
/* padding-right: 24px}*/
.nav-icons {
  width: 33.916px;
  height: 24px;
  flex-shrink: 0;
}
/* banner section styles */
.banner-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
  align-items: center;
}
.text-elements {
  /* width: 901px; */
  /* width: 60%; */
  height: 700px;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  /* background:cover; */
}
.text-elements-container {
  display: flex;
  align-items: center;
  /* text-align: start; */
  justify-content: flex-start;
  flex-direction: column;
}
.banner-title {
  color: #0b0223;
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 148px;
}
.goat {
  text-align: center;
  font-size: 85px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  color: #534c64;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.banner-icon {
  width: 24px;
  height: 24px;
}
.banner-button {
  padding: 21px 0px;
}
.button1 {
  padding: 21px 40px;
  border-radius: 48px;
  border: 0px white;
  margin-right: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.button2 {
  padding: 21px 40px;
  border: 0px white;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
/* gamer section */
.gamer-container {
  /* max-width: 1920px; */
  /* height: 600px; */
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 200px;
}
.gamer-text-container {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  flex-direction: column;
  text-align: right;
}
.gamer-title {
  font-size: 43px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  /* text-align: right; */
}
.gamer-description {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 27px;
}
.gamer-text-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px; /* 187.5% */
}
.gamer-text-title {
  color: #534c64;
  font-size: 27px;
  font-weight: 700;
  line-height: 40px;
}
/* funny section */
.funny-gamer-container {
  margin-top: 120px;
}
.funny-title {
  color: #0b0223;
  text-align: center;
  font-size: 43px;
  font-weight: 700;
}
.style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 43px;
  font-weight: 700;
}
.funny-description {
  color: #534c64;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* card section */
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 48px;
  padding: 0px 200px;
}
.card-description {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  width: 342px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-image-container {
  position: relative;
}
.card-image {
  display: block;

  position: relative;
}
.image-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  font-size: 16px;
  color: #f948b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    lightgray 50%;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overley:hover {
  opacity: 85%;
}

/* online section */
.online-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  padding: 0px 200px;
  gap: 90px;
}
.img-1 {
}
.img-2 {
  margin-top: -300px;
  margin-left: 530px;
}
.play {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-title {
  font-size: 43px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.anywhere {
  color: #0b0223;
  font-size: 43px;
  font-weight: 700;
  line-height: 60px;
}
.online-description {
  color: #534c64;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* box section */
.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 200px;
  gap: 30px;
  margin: 120px auto 127px auto;
}
.box {
  display: flex;
  width: 243px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50px;
  background: #fff;
  text-align: center;
  align-items: center;
  gap: 2px;
}
.box:hover {
  border: 2px solid #f948b2;
  color: #f948b2;
}
/* footer section */
footer {
  width: 100%;
  height: 636px;
  flex-shrink: 0;
  background: #0b0223;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 120px auto 130px auto; */
  /* margin: 120px auto 130px auto; */
}
.gamer-title {
  display: flex;
  margin-top: 120px;
}
.manubar-container {
  margin-top: 66;
  display: flex;
  /* flex-wrap: wrap; */
}
.manubar-elements {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
.social {
  display: flex;
  margin-top: 74px;
}
.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}
.terms-container {
  display: flex;
  margin-top: 54px;
  margin-bottom: 25px;
}
.terms {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}
